<!DOCTYPE html>
<html>
<head>
    <title>Moviez</title>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/moviez.js"></script>

    <meta name="google-signin-client_id" content="385960567949-hohf9qmosheoh80f1hlcc26jivj9vttu.apps.googleusercontent.com">

</head>
<body>
<div class="g-signin2" data-onsuccess="onSignIn"></div><br><br>

    <p>Please login first!</p><br>

    <input type="text" id="movieName" name="movieName">

    <button id="search">SEARCH!</button>
    

</body>
</html>