<!DOCTYPE html>
<html>
<head>
    <title>Enjoy the movie</title>
</head>
<body>
<p>I present you : tha movie...</p>
<p id="movID">{{ movID }}</p>
<p>Shared with {{userEmail}}.. enjoy ;)</p>
<p>If you dont see the movie below, pls refresh the page (and ignore the warning lol)</p>

<p id="report">If the movie is not HD, PLEASE report it by emailing me at parths.97@gmail.com</p><br>

<iframe src="https://drive.google.com/embeddedfolderview?id={{movID}}#grid" width="700" height="500" frameborder="0"></iframe>

</body>
</html>